:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
    --light-bg-button-color: #8b67e0;
    --transition: all 0.3s;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;;
    
    display: grid;
    grid-template-areas: "content-area image-area";
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    
    background-color: var(--body-bg-color);
}

body * {
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.42px;

    color: var(--text-color);
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    color: var(--title-color);
    line-height: 28.15px;
}

h2 {
    line-height: 15.68px;
}

h1, h2 {
    margin-bottom: 9px;
}

p {
    font-weight: 400;
    
    margin-bottom: 50px;
}

legend {
    color: var(--form-color);
    
    margin-bottom: 17px;
}

aside {
    position: absolute;
}

aside a {
    margin-top: 98px;
    
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    
    text-decoration: none;
    
    color: var(--bg-button-color);
}

fieldset[form=email-form] {
    position: relative;
}

input[type=email] {
    width: 100%;
    height: 48px;
    
    padding-left: 10px;
    border-radius: 0;
    border: none;
    border-left: 5px solid var(--title-color);
    
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.08px;
    
    color: var(--form-color);
}

input[type=email]:focus {
    outline: none;
    border: 2px solid var(--bg-button-color);
    border-left: 5px solid var(--bg-button-color);
}

button {
    width: 48px;
    height: 48px;
    
    border-radius: 0;
    border: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--bg-button-color);
    
    transition: var(--transition);
}

button:hover {
    cursor: pointer;
    background-color: var(--title-color);
    
    transition: var(--transition);
}

.input {
    width: calc(100% + 150px);
    height: 48px;
    
    box-shadow: 4px 10px 15px rgba(0, 0, 0, 0.5);
    
    display: flex;
    align-items: center;
    
    position: absolute;
    z-index: 2;
}

#logo {
    width: 389px;
    margin-bottom: 92px;
}

#content-box {
    grid-area: content-area;
    
    padding: 50px 36px 0 36px;
}

#image-box {
    grid-area: image-area;
    background-image: url("assets/read_news.jpg");
    background-position: top right;
    background-size: auto 100%;
}

.icon {
    width: 24px;
    height: 24px;
}